.username {
  background-color: #709312;
}

.coffee-background {
  background-image:  linear-gradient(
    rgba(255, 255, 255, 0.88),
    rgba(232, 240, 254, 0.7)
  ), url('../../assets/cofee-background.jpg');
  background-size: cover;
  background-position: center;
  content: fill;
}


.spinner__wrapper {
  height: 100vh;
  color: #B45309;
}
